VITE_TEST_EMAIL=test@example.com
VITE_TEST_PASSWORD=123456
VITE_BOLT_CHECKOUT_STARTER=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-100&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_WK3nCyNpeiK-
VITE_BOLT_CHECKOUT_BRONZE=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-500&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_NcRqYwAs-DqS
VITE_BOLT_CHECKOUT_SILVER=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-1400&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_RMdBNbuBN-Wt
VITE_BOLT_CHECKOUT_GOLD=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-3000&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_PsbybZBJbr3L
VITE_BOLT_CHECKOUT_PLATINUM=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-7000&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_5kMI6kL3tpfn
VITE_BOLT_CHECKOUT_DIAMOND=https://knights-of-valor-bolt.c-staging.bolt.com/g?merchant_product_id=gems-16000&publishable_key=_Kq5XZXqaLiS.3TOhnz9Wmacb.9c59b297d066e94294895dd8617ad5d9d8ffc530fe1d36f8ed6d624a4f7855ae&subscription_plan_id=spl_TtTskEDteWXV
VITE_BACKEND_URL=https://gaming.staging-bolt.com