.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  position: relative;
}

.game-title {
  margin-bottom: 20px;
  color: #333;
  font-family: Arial, sans-serif;
}

.game-canvas-container {
  border-block: 2px solid #ccc;
  overflow: hidden;
  background-color: #f7f7f7;
  position: relative;
  width: min(800px, 100vw);
  height: 300px;
}

.game-canvas {
  display: block;
  cursor: pointer;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.game-controls-info {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: left;
  color: #666;
  font-family: Arial, sans-serif;
}
