.pageLayout {
  --surface-purple: #f8f6fe;

  position: relative;
  background-color: var(--surface-purple);
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.pageLayout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 364px;
  height: 640px;
  background-image: url("../../assets/brand-background-top-corner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(4px);
  pointer-events: none;
  z-index: 0;
}

.pageLayout::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 364px;
  height: 640px;
  background-image: url("../../assets/brand-background-bottom-corner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  max-width: 915px;
  width: 100%;
  margin-inline: 2rem;
  margin-block: 6rem;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--bolt-space-2);

  margin-bottom: var(--bolt-space-8);
}
