.pageLayout {
  --surface-purple: #f8f6fe;

  position: relative;
  background-color: var(--surface-purple);
  overflow: hidden;
  min-height: 100vh;
  display: grid;
  grid-template-columns:
    minmax(5rem, 1fr) [banner-start] minmax(0, 182.5px) [content-start] minmax(
      0,
      915px
    )
    [content-end] minmax(0, 182.5px) [banner-end] minmax(5rem, 1fr);
  justify-content: center;
}

@media (width < 768px) {
  /* in small screens, the banner becomes more confined than the content */
  .pageLayout {
    grid-template-columns:
      1.5rem [content-start] 1rem
      [banner-start] minmax(0, 915px)
      [banner-end] 1rem [content-end] 1.5rem;
  }
}

.pageLayout > * {
  z-index: 1;
}

.pageLayout::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 364px;
  height: 640px;
  background-image: url("../../assets/brand-background-top-corner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(4px);
  pointer-events: none;
  z-index: 0;
}

.pageLayout::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 364px;
  height: 640px;
  background-image: url("../../assets/brand-background-bottom-corner.svg");
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(2px);
  pointer-events: none;
  z-index: 0;
}

.content {
  position: relative;
  width: 100%;
  margin-block: 6rem;
  z-index: 1;
  grid-column: content;
}

.content.noMarginTop {
  margin-top: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--bolt-space-2);

  margin-bottom: var(--bolt-space-8);
}

.intro h1 {
  text-align: center;
}

.intro p {
  text-align: center;
}
